.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/gradle.xml

.idea/gradle.xml

MilliPiyango.iml

settings.gradle

.idea/gradle.xml

MilliPiyango.iml

settings.gradle
