.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/gradle.xml

.idea/gradle.xml

MilliPiyango.iml

settings.gradle

.idea/gradle.xml

MilliPiyango.iml

settings.gradle

.idea/compiler.xml

.idea/compiler.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/misc.xml

.idea/vcs.xml
